/*icon*/
.c-icon {
  display: inline-block; }

.icon-pizza {
  font-size: 45px;
  width: 1em;
  height: .9em; }

.icon-roll {
  font-size: 35px;
  width: 1em;
  height: 1.1em; }

.icon-salad {
  font-size: 46px;
  width: 1em;
  height: .8em; }

.icon-pot {
  font-size: 45px;
  width: 1em;
  height: .56em; }

.icon-pasta {
  font-size: 46px;
  width: 1em;
  height: .95em; }

.icon-risotto {
  font-size: 49px;
  width: 1em;
  height: .5em; }

.icon-garnish {
  font-size: 30px;
  width: 1em;
  height: 1.1em; }

.icon-frappe {
  font-size: 31px;
  width: 1em;
  height: 1.2em; }

.icon-mustard {
  font-size: 31px;
  width: 1em;
  height: 1.2em; }

.home-section {
  margin: 0 36px; }

.menu {
  background-color: #fff;
  margin-bottom: 40px;
  padding: 15px 37px 20px;
  -webkit-box-shadow: 0px 17px 54px 0px rgba(193, 23, 23, 0.05);
          box-shadow: 0px 17px 54px 0px rgba(193, 23, 23, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.menu-item__link {
  padding-top: 41px;
  text-decoration: none;
  color: #383838;
  font-weight: 700;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  position: relative;
  display: block;
  text-align: center; }

.menu-item:hover .menu-item__icon {
  -webkit-transform: translateY(-4px) translateX(-50%);
      -ms-transform: translateY(-4px) translateX(-50%);
          transform: translateY(-4px) translateX(-50%);
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.menu-item__link:hover {
  color: #ff892a;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.menu-item__text {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  display: block; }

.menu-item__icon {
  position: absolute;
  bottom: 18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  text-align: center;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.app {
  display: block;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(149, 81, 27, 0.07);
          box-shadow: 0px 3px 11px 0px rgba(149, 81, 27, 0.07);
  background-color: #fff;
  padding: 38px 44px; }

/*-----------------------------*/
/*-----------------------------*/
/*-----------------------------*/
/*-----------------------------*/
/*-----------------------------*/
@media (max-width: 900px) {
  .menu {
    margin: 0; } }

@media (max-width: 800px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px 10px 20px; }
  .menu .menu-item {
    padding: 10px;
    width: 20%; } }

@media (max-width: 600px) {
  .menu .menu-item {
    padding: 10px;
    width: 120px; } }

@media (max-width: 420px) {
  .menu .menu-item {
    width: 33%; } }
