/*service*/
html {
  height: 100%;
  overflow-y: scroll; }

body {
  position: relative;
  height: 100%; }

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  overflow: hidden;
  padding-bottom: 198px; }

.presto-footer {
  margin-top: -198px;
  position: relative; }

.layout {
  max-width: 1300px; }

@font-face {
  font-family: "MuseoSansRegular";
  src: url("../fonts/MuseoSansRegular.eot");
  src: url("../fonts/MuseoSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansRegular.woff") format("woff"), url("../fonts/MuseoSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSansBold.eot");
  src: url("../fonts/MuseoSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansBold.woff") format("woff"), url("../fonts/MuseoSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSansItalic.eot");
  src: url("../fonts/MuseoSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansItalic.woff") format("woff"), url("../fonts/MuseoSansItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSansLight.eot");
  src: url("../fonts/MuseoSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansLight.woff") format("woff"), url("../fonts/MuseoSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 100; }

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSansMedium.eot");
  src: url("../fonts/MuseoSansMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansMedium.woff") format("woff"), url("../fonts/MuseoSansMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSansBlack.eot");
  src: url("../fonts/MuseoSansBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansBlack.woff") format("woff"), url("../fonts/MuseoSansBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: 900; }

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSansBoldItalic.eot");
  src: url("../fonts/MuseoSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansBoldItalic.woff") format("woff"), url("../fonts/MuseoSansBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700; }

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSansMediumItalic.eot");
  src: url("../fonts/MuseoSansMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansMediumItalic.woff") format("woff"), url("../fonts/MuseoSansMediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500; }

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSansLightItalic.eot");
  src: url("../fonts/MuseoSansLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansLightItalic.woff") format("woff"), url("../fonts/MuseoSansLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100; }

@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSansBlackItalic.eot");
  src: url("../fonts/MuseoSansBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansBlackItalic.woff") format("woff"), url("../fonts/MuseoSansBlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900; }

/*grid------------------------------------------------------------*/
.c-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-left: -10px;
  margin-right: -10px; }

.c-grid-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.c-grid-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.c-grid-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.c-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 100%;
  padding: 10px; }

.c-col-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.c-col-1 {
  -ms-flex: 0 0 8.333333%;
  -webkit-box-flex: 0;
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.c-col-2 {
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.c-col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 25%; }

.c-col-4 {
  -ms-flex: 0 0 33%;
  -webkit-box-flex: 0;
  flex: 0 0 33%;
  max-width: 33%; }

.c-col-5 {
  -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.c-col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%; }

.c-col-7 {
  -ms-flex: 0 0 58%;
  -webkit-box-flex: 0;
  flex: 0 0 58%;
  max-width: 58%; }

.c-col-8 {
  -ms-flex: 0 0 66.666667%;
  -webkit-box-flex: 0;
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.c-col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
  flex: 0 0 75%;
  max-width: 75%; }

.c-col-10 {
  -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.c-col-11 {
  -ms-flex: 0 0 91.666667%;
  -webkit-box-flex: 0;
  flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.c-col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%; }

/*icon*/
.c-icon {
  display: inline-block; }

.icon-pizza {
  font-size: 45px;
  width: 1em;
  height: .9em; }

.icon-roll {
  font-size: 35px;
  width: 1em;
  height: 1.1em; }

.icon-salad {
  font-size: 46px;
  width: 1em;
  height: .8em; }

.icon-pot {
  font-size: 45px;
  width: 1em;
  height: .56em; }

.icon-pasta {
  font-size: 46px;
  width: 1em;
  height: .95em; }

.icon-risotto {
  font-size: 49px;
  width: 1em;
  height: .5em; }

.icon-garnish {
  font-size: 30px;
  width: 1em;
  height: 1.1em; }

.icon-frappe {
  font-size: 31px;
  width: 1em;
  height: 1.2em; }

.icon-mustard {
  font-size: 31px;
  width: 1em;
  height: 1.2em; }

.icon-googleplay {
  font-size: 123px;
  width: 1em;
  height: .31em; }

.icon-appstore {
  font-size: 119px;
  width: 1em;
  height: .32em; }

.icon-inst {
  font-size: 19px;
  width: 1em;
  height: 1em; }

.icon-vk {
  font-size: 29px;
  width: 1em;
  height: .57em; }

.logo-presto {
  font-size: 160px;
  width: 1em;
  height: .5em; }

.icon-basket {
  font-size: 20px;
  width: 1em;
  height: 1em; }

/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px; }

.presto-header-layout {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: -1px;
  margin: 0; }

.presto-header-sticky {
  position: relative; }

.sticky.presto-header-sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  right: 0;
  z-index: 99999999999999999999;
  position: fixed;
  top: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1); }

.sticky.presto-header-sticky .layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  position: relative; }

.presto-header-sticky .logo-presto {
  font-size: 80px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.presto-header-sticky .presto-header-logo {
  opacity: 0;
  position: absolute;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  right: 100%;
  top: 0; }

.sticky .presto-header-logo {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  position: static;
  -webkit-transform-origin: 16% 50%;
      -ms-transform-origin: 16% 50%;
          transform-origin: 16% 50%;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out; }

.presto-header-sticky .presto-header-basket {
  display: none; }

.sticky .presto-header-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 10px; }

.presto-header {
  position: relative;
  padding: 14px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.presto-header-logo {
  margin-right: 27px;
  width: 160px; }

.presto-header-menu__item {
  display: inline-block;
  position: relative; }
  .presto-header-menu__item:hover > .lsp-block-menu-tree {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.presto-header-menu__link {
  display: inline-block;
  text-decoration: none;
  color: #383838;
  font-size: 16px;
  padding: 14px 6px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .presto-header-menu__link:last-child {
    margin-right: 0; }
  .presto-header-menu__link:hover {
    color: #ff892a;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }

.lsp-block-menu-tree {
  display: none;
  position: absolute;
  top: 95%;
  left: -10px;
  background-color: #fff;
  padding: 10px 14px;
  padding: 10px;
  width: 500px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); }

.lsp-block-menu-tree li {
  width: 33%;
  margin-bottom: 6px; }

.lsp-block-menu-tree a {
  text-decoration: none;
  color: #383838;
  font-size: 16px;
  padding: 4px 6px; }
  .lsp-block-menu-tree a:hover {
    color: #ff892a;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }

.presto-header-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 8px; }

.presto-header-basket {
  position: absolute;
  right: 0;
  top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.city-toggle {
  position: static;
  background: #ffe5d0;
  padding: 6px 20px;
  color: #ff892a;
  border-radius: 50px;
  margin-right: 40px; }

.city-toggle a {
  text-decoration: none;
  color: inherit;
  font-size: 15px;
  padding: 0 20px; }

.city-toggle a.current-city {
  white-space: nowrap;
  line-height: 1;
  padding: 0;
  display: block;
  text-align: center; }

.city-toggle a.current-city:after {
  content: '';
  border-width: 7px 4px 0 4px;
  border-color: #ff892a transparent transparent transparent;
  display: inline-block;
  vertical-align: middle;
  margin-left: 9px;
  width: 0;
  height: 0;
  border-style: solid; }

.city-dropdown {
  display: none; }

.presto-header-delivery__phone {
  color: #050505;
  font-size: 16px;
  margin-bottom: 2px; }

.presto-header-delivery__phone span {
  color: #ff892a; }

.presto-header-delivery__work {
  font-size: 13px; }

.presto-header-auth {
  margin-right: 16px; }
  .presto-header-auth a {
    display: inline-block;
    color: #ff892a;
    background: #ffe5d0;
    padding: 4px 16px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 50px;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out; }
    .presto-header-auth a:hover {
      -webkit-transition: all .1s ease-in-out;
      -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
      background-color: #ffd7b6; }

.presto-header-cart a {
  display: inline-block;
  color: #ff892a;
  background: #ffe5d0;
  padding: 4px 16px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 50px;
  text-transform: uppercase;
  height: 27px;
  padding: 0 12px;
  position: relative;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }
  .presto-header-cart a:hover {
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    background-color: #ffd7b6; }

.presto-header-cart .cart-toggle .count {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  top: -8px;
  right: -10px;
  background: #402217;
  font-size: 12px;
  color: #fff; }

.presto-header-cart .icon-basket {
  fill: #ff892a;
  position: relative;
  top: 3px; }

/*---------------------------*/
/*---------------------------*/
/*---------------------------*/
.home-section {
  margin: 0 36px; }

.menu {
  font-family: 'MuseoSans', sans-serif;
  background-color: #fff;
  margin-bottom: 30px;
  padding: 15px 37px 20px;
  -webkit-box-shadow: 0px 17px 54px 0px rgba(193, 23, 23, 0.05);
          box-shadow: 0px 17px 54px 0px rgba(193, 23, 23, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.menu-item__link {
  padding-top: 41px;
  text-decoration: none;
  color: #383838;
  font-weight: 700;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  position: relative;
  display: block;
  text-align: center; }

.menu-item:hover .menu-item__icon {
  -webkit-transform: translateY(-4px) translateX(-50%);
      -ms-transform: translateY(-4px) translateX(-50%);
          transform: translateY(-4px) translateX(-50%);
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.menu-item__link:hover {
  color: #ff892a;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.menu-item__text {
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  display: block; }

.menu-item__icon {
  position: absolute;
  bottom: 18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  text-align: center;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.app {
  position: relative;
  font-family: 'MuseoSans', sans-serif;
  display: block;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(149, 81, 27, 0.07);
          box-shadow: 0px 3px 11px 0px rgba(149, 81, 27, 0.07);
  background-color: #fff;
  padding: 38px 44px 50px;
  color: #272626;
  background: url(../img/bg-app.jpg) 0 0 no-repeat;
  background-size: cover;
  margin-bottom: 24px; }

.app-body {
  max-width: 60%; }

.app-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 16px;
  color: #272626; }

.app-title span {
  display: block; }

.app-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 16px; }

.app-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center; }

.app-download__item {
  margin-right: 10px; }

.app-download__item:last-child {
  margin-right: 0; }

.app-phone {
  position: absolute;
  right: 7%;
  bottom: 0; }

.app-phone img {
  display: block; }

.app-phone__icon {
  width: 82px;
  height: 82px;
  position: absolute;
  z-index: 1;
  top: 35%;
  right: 0px;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(233, 19, 24, 0.18);
          box-shadow: 0px 10px 18px 0px rgba(233, 19, 24, 0.18);
  border-radius: 20px;
  background: #fff url(../img/icon-app-logo.png) 50% 50% no-repeat; }

.presto-advantages {
  font-family: 'MuseoSans', sans-serif;
  margin-bottom: 20px; }

.presto-advantages__title {
  font-size: 30px;
  color: #272626;
  font-weight: 700;
  margin-bottom: 16px; }

.presto-advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-left: -10px;
  margin-right: -10px; }

.presto-advantages__item {
  padding: 10px;
  width: 33.333%; }

.presto-advantages-card {
  padding: 24px 36px;
  border-radius: 13px;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(149, 81, 27, 0.07);
          box-shadow: 0px 3px 11px 0px rgba(149, 81, 27, 0.07);
  background-color: #fff;
  color: #4d4b4b;
  height: 100%; }

.presto-advantages-card__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 14px;
  vertical-align: bottom; }

.presto-advantages-card__text {
  font-size: 16px; }

.presto-advantages-card__text a {
  color: #dd9626; }

.presto-about {
  font-family: 'MuseoSans', sans-serif;
  margin-bottom: 30px;
  display: block;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(149, 81, 27, 0.07);
          box-shadow: 0px 3px 11px 0px rgba(149, 81, 27, 0.07);
  background-color: #fff;
  padding: 38px 44px 50px; }

.presto-about__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 16px;
  color: #272626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.presto-about__title span {
  margin-right: 20px; }

.presto-about__title a {
  color: #dd9626;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: 2px; }

.presto-about__text {
  font-size: 16px; }

.presto-about__text p {
  text-indent: 36px;
  margin-bottom: 10px; }

.presto-about-card {
  border-radius: 10px;
  overflow: hidden; }

.presto-about-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%; }

/*--------------------------*/
/*--------------------------*/
/*--------------------------*/
.presto-sale {
  font-family: 'MuseoSans', sans-serif;
  padding: 20px 30px;
  background-color: #ffe5d0;
  border-radius: 10px;
  margin-bottom: 20px;
  height: auto; }

.presto-sale__title {
  font-size: 29px;
  color: #2b2424;
  font-weight: 700;
  margin-bottom: 10px; }

.presto-sale__chief {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 15px;
  color: #2b2424;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 20px; }

.presto-sale-combo__title {
  margin-bottom: 4px;
  font-size: 20px; }

.presto-sale-combo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-left: -4px;
  margin-right: -4px; }

.presto-sale-combo__item {
  padding: 4px;
  margin-bottom: 14px;
  width: 33.3333%; }

.presto-sale-combo-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 13px 18px; }

.presto-sale-combo-card__title {
  font-size: 16px;
  color: #2b2424; }

.presto-sale-combo-card__price {
  font-size: 16px;
  color: #2b2424; }

.presto-sale-list__item {
  margin-bottom: 8px; }
  .presto-sale-list__item a {
    font-size: 16px;
    color: #2b2424;
    text-decoration: none;
    font-weight: 500; }

/*---------------------------*/
/*---------------------------*/
/*---------------------------*/
.presto-delivery {
  color: #171716;
  font-family: 'MuseoSans', sans-serif;
  padding: 20px 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #d9f6e2;
  height: auto; }

.presto-delivery__title {
  font-size: 29px;
  color: #2b2424;
  font-weight: 700;
  margin-bottom: 10px; }

.presto-delivery__desc {
  font-size: 16px;
  line-height: 1.2; }
  .presto-delivery__desc a {
    color: #dd9626; }

.presto-delivery-card__num {
  font-size: 29px;
  color: #171716;
  line-height: 1; }
  .presto-delivery-card__num span {
    font-size: 68px; }

.presto-delivery-card__info {
  font-size: 16px; }

/*---------------------------*/
/*---------------------------*/
/*---------------------------*/
.presto-footer {
  background-color: #fff;
  padding: 30px 0;
  font-family: 'MuseoSans', sans-serif; }

.presto-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  color: #272626;
  margin-bottom: 26px; }

.presto-footer__info {
  width: 27%; }

.presto-footer-phone__title {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 4px; }

.presto-footer-phone__num a {
  display: inline-block;
  color: #272626;
  text-decoration: none;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 4px;
  font-family: 'MuseoSans', sans-serif; }

.presto-footer-phone__work {
  font-size: 16px;
  line-height: 1; }

.presto-footer-menu {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.presto-footer-menu__list {
  margin-right: 40px; }

.presto-footer-menu__item {
  display: block; }

.presto-footer-menu__item a {
  font-family: 'MuseoSans', sans-serif;
  display: inline-block;
  color: #272626;
  padding: 5px 0;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  text-decoration: none; }
  .presto-footer-menu__item a:hover {
    color: #ff892a;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }

.presto-footer__other {
  width: 28%; }

.presto-footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }

.presto-footer-social__item {
  margin-right: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .presto-footer-social__item:last-child {
    margin-right: 0; }
  .presto-footer-social__item:hover a {
    color: #ff892a;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
  .presto-footer-social__item:hover svg {
    fill: #ff892a;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }

.presto-footer-social__item a {
  color: #383838;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.presto-footer-social__item svg {
  margin-right: 5px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.presto-footer__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.presto-footer__copyright {
  width: 27%; }

.presto-footer__copyright span {
  display: block;
  font-size: 12px; }

.presto-footer__footer .presto-footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.presto-footer__footer .presto-footer-menu__item {
  margin-right: 20px; }
  .presto-footer__footer .presto-footer-menu__item:last-child {
    margin-right: 0; }

.presto-footer__ref {
  color: #afadad;
  font-size: 11px;
  width: 28%; }

/*-----------------------------*/
/*-----------------------------*/
/*-----------------------------*/
/*-----------------------------*/
/*-----------------------------*/
@media (max-width: 1240px) {
  .presto-header-layout {
    padding: 0 14px; }
  .home-section {
    margin: 0 14px 20px; }
  .presto-header-sticky {
    padding: 0 14px; } }

@media (max-width: 900px) {
  .menu {
    margin: 0; } }

@media (max-width: 800px) {
  .menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px 10px 20px; }
  .menu .menu-item {
    padding: 10px;
    width: 20%; } }

@media (max-width: 600px) {
  .menu .menu-item {
    padding: 10px;
    width: 120px; } }

@media (max-width: 420px) {
  .menu .menu-item {
    width: 33%; }
  .menu-item__text {
    font-size: 15px; } }
