.menu {
  margin: 0 36px;
  padding: 15px 37px 20px;
  -webkit-box-shadow: 0px 17px 54px 0px rgba(193, 23, 23, 0.05);
          box-shadow: 0px 17px 54px 0px rgba(193, 23, 23, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.menu-item {
  padding-top: 40px; }

.menu-item__link {
  text-decoration: none;
  color: #383838;
  font-weight: 700;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  position: relative; }

.menu-item:hover .menu-item__icon {
  -webkit-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.menu-item__link:hover {
  color: #ff892a;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

.menu-item__text {
  text-transform: uppercase;
  font-size: 16px; }

.menu-item__icon {
  display: block;
  text-align: center;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

/*icon*/
.c-icon {
  display: inline-block; }

.icon-pizza {
  font-size: 45px;
  width: 1em;
  height: .9em; }
