@font-face {
    font-family: "MuseoSansRegular";
    src: url("../fonts/MuseoSansRegular.eot");
    src: url("../fonts/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansRegular.woff") format("woff"),
    url("../fonts/MuseoSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansBold.eot");
    src: url("../fonts/MuseoSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBold.woff") format("woff"),
    url("../fonts/MuseoSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansItalic.eot");
    src: url("../fonts/MuseoSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansItalic.woff") format("woff"),
    url("../fonts/MuseoSansItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansLight.eot");
    src: url("../fonts/MuseoSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansLight.woff") format("woff"),
    url("../fonts/MuseoSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansMedium.eot");
    src: url("../fonts/MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansMedium.woff") format("woff"),
    url("../fonts/MuseoSansMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansBlack.eot");
    src: url("../fonts/MuseoSansBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBlack.woff") format("woff"),
    url("../fonts/MuseoSansBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansBoldItalic.eot");
    src: url("../fonts/MuseoSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBoldItalic.woff") format("woff"),
    url("../fonts/MuseoSansBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansMediumItalic.eot");
    src: url("../fonts/MuseoSansMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansMediumItalic.woff") format("woff"),
    url("../fonts/MuseoSansMediumItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansLightItalic.eot");
    src: url("../fonts/MuseoSansLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansLightItalic.woff") format("woff"),
    url("../fonts/MuseoSansLightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansBlackItalic.eot");
    src: url("../fonts/MuseoSansBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBlackItalic.woff") format("woff"),
    url("../fonts/MuseoSansBlackItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 900;
}

/*icon*/
.c-icon {
    display: inline-block;

}
.icon-pizza {
    font-size: 45px;
    width: 1em;
    height: .9em;

}
.icon-roll {
    font-size: 35px;
    width: 1em;
    height: 1.1em;

}
.icon-salad {
    font-size: 46px;
    width: 1em;
    height: .8em;

}
.icon-pot {
    font-size: 45px;
    width: 1em;
    height: .56em;

}
.icon-pasta {
    font-size: 46px;
    width: 1em;
    height: .95em;

}

.icon-risotto {
    font-size: 49px;
    width: 1em;
    height: .5em;

}

.icon-garnish {
    font-size: 30px;
    width: 1em;
    height: 1.1em;

}
.icon-frappe {
    font-size: 31px;
    width: 1em;
    height: 1.2em;

}
.icon-mustard {
    font-size: 31px;
    width: 1em;
    height: 1.2em;

}

.icon-googleplay {
    font-size: 120px;
    width: 1em;
    height: .29em;

}

.icon-appstore {
    font-size: 113px;
    width: 1em;
    height: .3em;

}

.home-section {
    margin: 0 36px;
}

.menu {
    font-family: 'MuseoSans', sans-serif;
    background-color: #fff;
    margin-bottom: 40px;
    padding: 15px 37px 20px;
    box-shadow: 0px 17px 54px 0px rgba(193, 23, 23, 0.05);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.menu-item {
    //padding-top: 40px;
}


.menu-item__link {
    padding-top: 41px;
    text-decoration: none;
    color: #383838;
    font-weight: 700;
    transition: all .1s ease-in-out;
    position: relative;
    display: block;
    text-align: center;
}



.menu-item:hover .menu-item__icon{
    transform: translateY(-4px) translateX(-50%);
    transition: all .1s ease-in-out;

}


.menu-item__link:hover {
    color: #ff892a;
    transition: all .1s ease-in-out;
}

.menu-item__text {
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    display: block;
}

.menu-item__icon {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    text-align: center;
    transition: all .1s ease-in-out;
}


.app {
    position: relative;
    font-family: 'MuseoSans', sans-serif;
    display: block;
    //width: 100%;
    box-shadow: 0px 3px 11px 0px rgba(149, 81, 27, 0.07);
    background-color: #fff;
    padding: 38px 44px 50px;
    color: #2b2424;
    background: url(../img/bg-app.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 24px;

}

.app-body {
    max-width: 60%;
}

.app-title {
    font-size: 34px;
    font-weight: 900;
    line-height:1;
    margin-bottom: 16px;
}

.app-title span {
    display: block;
}

.app-text {
    font-weight: 500;
    font-size: 16px;
    line-height:1.3;
    margin-bottom: 16px;
}

.app-download {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
}

.app-download__item {
    margin-right: 20px;
}

.app-download__item:last-child {
    margin-right: 0;
}

.app-phone {
    position: absolute;
    right: 10%;
    bottom: 0;
    
}


.app-phone img {
    display: block;

}


.app-phone__icon {
    width: 82px;
    height: 82px;
    position: absolute;
    z-index: 10;
    top: 35%;
    right: 0px;
    box-shadow: 0px 10px 18px 0px rgba(233, 19, 24, 0.18);
    border-radius: 20px;
    background: #fff url(../img/icon-app-logo.png) 50% 50% no-repeat;

}

.presto-advantages {

}

.presto-advantages__title {
    font-size: 34px;
    color: #474644;
    font-weight: 900;
    margin-bottom: 16px;
}


.presto-advantages__list {
    display: flex;
    flex-flow:  row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: -10px;
    margin-right: -10px;
}

.presto-advantages__item {
    padding: 10px;

}

.presto-advantages-card {
    padding: 24px 36px;
    border-radius: 13px;
    box-shadow: 0px 3px 11px 0px rgba(149, 81, 27, 0.07);
    background-color: #fff;
    color: #4d4b4b;

}


.presto-advantages-card__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 14px;
}

.presto-advantages-card__text {
    font-size: 16px;
}
/*-----------------------------*/
/*-----------------------------*/
/*-----------------------------*/
/*-----------------------------*/
/*-----------------------------*/

//media
@media (max-width:900px){
    .menu {
        margin: 0;
    }
}

@media (max-width:800px){
    .menu {
        flex-flow: row wrap;
        justify-content: center;
        padding: 15px 10px 20px;
    }
    .menu .menu-item {
        padding: 10px;
        //margin-bottom: 10px;
        //border: 1px solid #eee;
        width: 20%;
    }
}


@media (max-width:600px){
    .menu .menu-item {
        padding: 10px;
        //margin-bottom: 10px;
        //border: 1px solid #eee;
        width: 120px;
    }
}
@media (max-width:420px){
    .menu .menu-item {
        width: 33%;
    }
}