/*service*/
html {
    height: 100%;
    overflow-y: scroll;
}

body {
    position: relative;
    height: 100%;
}


.wrapper .lsp-block-cart {
    width: 300px;
    background-color: #fff;
}

.wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    overflow: hidden;
    padding-bottom: 198px;
}

.presto-footer {
    margin-top: -198px;
    position: relative;
}

.layout {
    max-width: 1300px;
}

.is-lock {
    overflow: hidden;
}

@font-face {
    font-family: "MuseoSansRegular";
    src: url("../fonts/MuseoSansRegular.eot");
    src: url("../fonts/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansRegular.woff") format("woff"),
    url("../fonts/MuseoSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansBold.eot");
    src: url("../fonts/MuseoSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBold.woff") format("woff"),
    url("../fonts/MuseoSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansItalic.eot");
    src: url("../fonts/MuseoSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansItalic.woff") format("woff"),
    url("../fonts/MuseoSansItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansLight.eot");
    src: url("../fonts/MuseoSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansLight.woff") format("woff"),
    url("../fonts/MuseoSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansMedium.eot");
    src: url("../fonts/MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansMedium.woff") format("woff"),
    url("../fonts/MuseoSansMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansBlack.eot");
    src: url("../fonts/MuseoSansBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBlack.woff") format("woff"),
    url("../fonts/MuseoSansBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansBoldItalic.eot");
    src: url("../fonts/MuseoSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBoldItalic.woff") format("woff"),
    url("../fonts/MuseoSansBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansMediumItalic.eot");
    src: url("../fonts/MuseoSansMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansMediumItalic.woff") format("woff"),
    url("../fonts/MuseoSansMediumItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansLightItalic.eot");
    src: url("../fonts/MuseoSansLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansLightItalic.woff") format("woff"),
    url("../fonts/MuseoSansLightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansBlackItalic.eot");
    src: url("../fonts/MuseoSansBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBlackItalic.woff") format("woff"),
    url("../fonts/MuseoSansBlackItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 900;
}

/*grid------------------------------------------------------------*/
.c-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-left: -10px;
    margin-right: -10px; }

.c-grid-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }

.c-grid-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }

.c-grid-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.c-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
    padding: 10px; }

.c-col-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

.c-col-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }

.c-col-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }

.c-col-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%; }

.c-col-4 {
    -ms-flex: 0 0 33%;
    -webkit-box-flex: 0;
    flex: 0 0 33%;
    max-width: 33%; }

.c-col-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }

.c-col-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%; }

.c-col-7 {
    -ms-flex: 0 0 58%;
    -webkit-box-flex: 0;
    flex: 0 0 58%;
    max-width: 58%; }

.c-col-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }

.c-col-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
    flex: 0 0 75%;
    max-width: 75%; }

.c-col-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }

.c-col-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }

.c-col-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%; }

/*icon*/
.c-icon {
    display: inline-block;

}
.icon-pizza {
    font-size: 45px;
    width: 1em;
    height: .9em;

}
.icon-roll {
    font-size: 35px;
    width: 1em;
    height: 1.1em;

}
.icon-salad {
    font-size: 46px;
    width: 1em;
    height: .8em;

}
.icon-pot {
    font-size: 45px;
    width: 1em;
    height: .56em;

}
.icon-pasta {
    font-size: 46px;
    width: 1em;
    height: .95em;

}

.icon-risotto {
    font-size: 49px;
    width: 1em;
    height: .5em;

}

.icon-garnish {
    font-size: 30px;
    width: 1em;
    height: 1.1em;

}
.icon-frappe {
    font-size: 31px;
    width: 1em;
    height: 1.2em;

}
.icon-mustard {
    font-size: 31px;
    width: 1em;
    height: 1.2em;

}

.icon-googleplay {
    font-size: 123px;
    width: 1em;
    height: .31em;

}

.icon-appstore {
    font-size: 119px;
    width: 1em;
    height: .32em;

}


.icon-inst {
    font-size: 19px;
    width: 1em;
    height: 1em;

}

.icon-vk {
    font-size: 29px;
    width: 1em;
    height: .57em;

}

.logo-presto {
    font-size: 160px;
    width: 1em;
    height: .5em;
}

.icon-basket {
    font-size: 20px;
    width: 1em;
    height: 1em;
}

.icon-arrows-down {
    font-size: 20px;
    width: 1em;
    height: 1em;
}



/*----------------------------------------*/
/*----------------------------------------*/
/*----------------------------------------*/

.sticky {
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}

.presto-header-layout.sticky-mobile {
    left: 0;
    right: 0;
    z-index: 99999999999999999999;
    position: fixed;
    top: 0;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

.presto-header-layout {
    background-color: #fff;
    position: sticky;
    z-index: 10;
    top: -1px;
    margin:0;

    font-family: "MuseoSans";
}
.presto-header-sticky {
    position: relative;
}
.sticky.presto-header-sticky {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    z-index: 99999999999999999999;

    position: fixed;
    top: 0;
    //width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
}


.sticky.presto-header-sticky .layout {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    //width: 1128px;
    width: 1300px;
    position: relative;
}

.presto-header-sticky .logo-presto {
    font-size: 80px;
    transition: all .2s ease-in-out;
}

.presto-header-hamburger {
    display: none;

    position: relative;
    //cursor: pointer;



    &__link {
        display: block;
        position: relative;

        width: 23px;
        height: 17px;
        padding: 21px 10px;
    }

    &__icon {
        width: 18px;
        height: 16px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);



        span {
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            border-radius: 10px;
            //background-color: #ED1C24;
            background-color: #402217;
            left: 0;
            transform-origin: 50% 50%;
        }

        span:nth-child(1) {
            top: 0;
            transition: all .2s ease-out;

        }
        span:nth-child(2) {
            top: 50%;
            margin-top: -1px;
            transition: all .1s ease-out;
        }
        span:nth-child(3) {
            bottom: 0;
            transition: all .2s ease-out;
        }


        &.active {
            transition: all .2s ease-out;
            span:nth-child(1) {
                transform: rotate(-45deg);
                top:7px;
                transition: all .2s ease-out;
            }
            span:nth-child(2) {
                opacity: 0;
                transition: all .1s ease-out;
            }
            span:nth-child(3) {
                transform: rotate(45deg);
                top:7px;
                transition: all .2s ease-out;
            }
        }
    }
}



.presto-header-sticky .presto-header-logo {
    //display: none;
    opacity: 0;
    position: absolute;
    transform: scale(0);
    right: 100%;
    top: 0;
}


.sticky .presto-header-logo {
    //display: block;
    transform: scale(1);
    opacity: 1;
    position: static;
    transform-origin: 16% 50%;
    transition: transform .2s ease-in-out;
    //width: 125px;
}

.presto-header-sticky .presto-header-basket {
    display: none;
}
.sticky .presto-header-basket {
    //position: static;
    display: flex;
    top: 10px;
}




.presto-header {
    position: relative;
    padding: 14px 0 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}


.presto-header-logo {
    margin-right: 27px;
    width: 160px;
}

.presto-header-body {

}

.presto-header-menu {
    //padding: 10px 0;
}
//
//.presto-header-menu.menu-scroll {
//    display: none;
//}

.presto-header-menu__item {
    display: inline-block;
    position: relative;


    &:hover > .lsp-block-menu-tree {
        display: flex;
    }
}
.presto-header-menu__link {
    display: inline-block;
    text-decoration: none;
    color: #383838;
    font-size: 16px;
    padding: 14px 6px;
    transition:all .2s ease-in-out;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: #ff2a2a;
        text-decoration: none;
        transition:all .2s ease-in-out;
    }


}

.lsp-block-menu-tree {
    display: none;
    position: absolute;
    top: 95%;
    left: -10px;
    background-color: #fff;
    padding: 10px 14px;
    padding: 10px;
    width: 500px;
    //display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}

.lsp-block-menu-tree li {
    width: 33%;
    margin-bottom: 12px;
}

.lsp-block-menu-tree a {
    text-decoration: none;
    color: #383838;
    font-size: 16px;
    padding: 4px 6px;

    &:hover {
        color: #ff2a2a;
        text-decoration: none;
        transition:all .2s ease-in-out;
    }
}

.presto-header-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 8px;
}

.presto-header-basket {
    position: absolute;
    right: 0;
    top: 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.city-toggle{
    position: static;
    background: #fbe1e1;
    padding: 6px 20px;
    color: #ff2a2a;
    border-radius: 50px;
    margin-right: 40px;
}
.city-toggle a{
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    padding: 0 20px;
}
.city-toggle a.current-city{
    white-space: nowrap;
    line-height: 1;
    padding: 0;
    display: block;
    text-align: center;

}
.city-toggle a.current-city:after{
    content: '';
    border-width: 7px 4px 0 4px;
    border-color: #ff2a2a transparent transparent transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 9px;
    width: 0;
    height: 0;
    border-style: solid;
}
.city-dropdown{
    display: none;
}

.presto-header-delivery {

}

.presto-header-delivery__phone {
    color: #050505;
    font-size: 16px;
    margin-bottom: 2px;
}

.presto-header-delivery__phone span {
    color: #ff2a2a;
}

.presto-header-delivery__work {
    font-size: 13px;
}

.presto-header-auth {
    margin-right: 16px;
    a {
        display: inline-block;
        color: #ff2a2a;
        background: #fbe1e1;
        padding: 4px 16px;
        font-size: 16px;
        text-decoration: none;
        border-radius: 50px;
        transition: all .1s ease-in-out;


        &:hover {
            transition: all .1s ease-in-out;
            background: #ffcdcd;
        }
    }

}

.presto-header-cart {
    a {
        display: inline-block;
        color: #ff2a2a;
        background: #fbe1e1;
        padding: 4px 16px;
        font-size: 16px;
        text-decoration: none;
        border-radius: 50px;
        text-transform: uppercase;
        height: 27px;
        padding: 0 12px;
        position: relative;
        transition: all .1s ease-in-out;


        &:hover {
            transition: all .1s ease-in-out;
            background: #ffcdcd;
        }
    }

    .cart-toggle .count {
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        top: -8px;
        right: -10px;
        background: #402217;
        font-size: 12px;
        color: #fff;
    }
}

.presto-header-cart .icon-basket {
    fill: #ff2a2a;
    position: relative;
    top: 3px;
}




/*---------------------------*/
/*---------------------------*/
/*---------------------------*/

.header-mobile {
    font-family: 'MuseoSans', sans-serif;
    padding: 10px 0;
}

.header-mobile-menu {
    background-color: #fff;
    //margin-bottom: 14px;
    padding: 10px 0;
}

.header-mobile-menu__item {
    //border-bottom: 1px solid #fbe1e1;
}

.header-mobile-menu__link {
    display: block;
    padding: 12px 14px;
    font-size: 16px;
    text-decoration: none;
    color: #402217;

    &:hover {
        color: #ff2a2a;
        transition: all .1s ease-in-out;
    }


    &.has-child {
        position: relative;
        transition: all .2s ease-in-out;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            margin-top: -8px;
            right: 16px;
            width: 16px;
            height: 16px;
            transition: all .2s ease-in-out;
            background: url(../img/icon/icon-arrow-down.svg) 0 0 no-repeat;
        }

        &.active::after {
            content: '';
            transform: rotate(180deg);
            transform-origin: 50% 50%;
            transition: all .2s ease-in-out;
        }

    }

}


.header-mobile .lsp-block-menu-tree {
    display: none;
    width: auto;
    box-shadow: none;
    position: static;
    padding: 0 10px 0 20px;
}

.header-mobile .lsp-block-menu-tree a {
    display: block;
    padding: 3px 12px;
}

.header-mobile .lsp-block-menu-tree.is-show {
    display: block !important;

}

.header-mobile .lsp-block-menu-tree li {
    width: 100%;

}

.header-mobile-contact {
    padding: 12px 14px;
}

.header-mobile-contact .presto-header-auth {
    margin: 0;
    padding: 0 0 14px;
}

.header-mobile-contact .presto-header-auth a {
    padding: 0;
    background-color: transparent;
}

.header-mobile-social {
    padding: 0 14px 14px;
}

.social-compact {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.social-compact__item {
    padding: 2px 2px;
    margin-right: 6px;
}

.social-compact__item a {
    display: block;
    //border: 1px solid #000;
    position: relative;
    width: 30px;
    height: 30px;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%);

        :hover {

        }
    }
}
//
//.social-compact .icon-vk {
//    font-size: 25px;
//}


/*---------------------------*/
/*---------------------------*/
/*---------------------------*/

.home-section {
    margin: 0 36px;
}

.menu {
    font-family: 'MuseoSans', sans-serif;
    background-color: #fff;
    margin-bottom: 30px;
    padding: 15px 37px 20px;
    box-shadow: 0px 17px 54px 0px rgba(193, 23, 23, 0.05);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.menu-item {
    //padding-top: 40px;
}


.menu-item__link {
    padding-top: 41px;
    text-decoration: none;
    color: #383838;
    font-weight: 700;
    transition: all .1s ease-in-out;
    position: relative;
    display: block;
    text-align: center;
}



.menu-item:hover .menu-item__icon{
    transform: translateY(-4px) translateX(-50%);
    transition: all .1s ease-in-out;

}


.menu-item__link:hover {
    color: #ff2a2a;
    transition: all .1s ease-in-out;
}

.menu-item__text {
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    display: block;
}

.menu-item__icon {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    text-align: center;
    transition: all .1s ease-in-out;
}


.app {
    position: relative;
    font-family: 'MuseoSans', sans-serif;
    display: block;
    //width: 100%;
    box-shadow: 0px 3px 11px 0px rgba(149, 81, 27, 0.07);
    background-color: #fff;
    padding: 38px 44px 50px;

    color: #272626;
    background: url(../img/bg-app.jpg) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 24px;

}

.app-body {
    max-width: 60%;
}

.app-title {
    font-size: 30px;
    font-weight: 700;
    line-height:1;
    margin-bottom: 16px;

    color: #272626;
}

.app-title span {
    display: block;
}

.app-text {
    font-weight: 500;
    font-size: 16px;
    line-height:1.3;
    margin-bottom: 16px;
}

.app-download {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
}

.app-download__item {
    margin-right: 10px;
}

.app-download__item:last-child {
    margin-right: 0;
}

.app-phone {
    position: absolute;
    right: 7%;
    bottom: 0;
    
}


.app-phone img {
    display: block;

}


.app-phone__icon {
    width: 82px;
    height: 82px;
    position: absolute;
    z-index: 1;
    top: 35%;
    right: 0px;
    box-shadow: 0px 10px 18px 0px rgba(233, 19, 24, 0.18);
    border-radius: 20px;
    background: #fff url(../img/icon-app-logo.png) 50% 50% no-repeat;

}

.presto-advantages {
    font-family: 'MuseoSans', sans-serif;
    margin-bottom: 20px;
}

.presto-advantages__title {
    font-size: 30px;
    color: #272626;
    font-weight: 700;
    margin-bottom: 16px;
}


.presto-advantages__list {
    display: flex;
    flex-flow:  row nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin-left: -10px;
    margin-right: -10px;
}

.presto-advantages__item {
    padding: 10px;
    width: 33.333%;
}

.presto-advantages-card {
    padding: 24px 36px;
    border-radius: 13px;
    box-shadow: 0px 3px 11px 0px rgba(149, 81, 27, 0.07);
    background-color: #fff;
    color: #4d4b4b;
    height: 100%;

}


.presto-advantages-card__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 14px;
    vertical-align: bottom;
}

.presto-advantages-card__text {
    font-size: 16px;
}

.presto-advantages-card__text a {
    color: #dd9626;
}

.presto-about {
    font-family: 'MuseoSans', sans-serif;
    margin-bottom: 30px;
    display: block;
    box-shadow: 0px 3px 11px 0px rgba(149, 81, 27, 0.07);
    background-color: #fff;
    padding: 38px 44px 50px;
}


.presto-about__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 16px;
    color: #272626;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.presto-about__title span {
    margin-right: 20px;
}

.presto-about__title a {
    color: #dd9626;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 2px;
}

.presto-about__body {

}

.presto-about__text {
    font-size: 16px;
}


.presto-about__text p {
    text-indent: 36px;
    margin-bottom: 10px;
}

.presto-about-card {
    border-radius: 10px;
    overflow: hidden;
}

.presto-about-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*--------------------------*/
/*--------------------------*/
/*--------------------------*/

.presto-info {
    margin-bottom: 20px;
}

.presto-sale {
    font-family: 'MuseoSans', sans-serif;
    padding: 20px 30px;
    background-color: #fbe1e1;
    border-radius: 10px;
    height: 100%;
}

.presto-sale__title {
    font-size: 29px;
    color: #2b2424;
    font-weight: 700;
    margin-bottom: 10px;
}

.presto-sale__body {

}

.presto-sale__chief {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 15px;
    color: #2b2424;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 20px;

}

.presto-sale-combo {

}

.presto-sale-combo__title {
    margin-bottom: 4px;
    font-size: 20px;
}

.presto-sale-combo__list {
    display: flex;
    flex-flow:  nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin-left: -4px;
    margin-right: -4px;
}

.presto-sale-combo__item {
    padding: 4px;
    margin-bottom: 14px;
    width: 33.3333%;
}

.presto-sale-combo-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 13px 18px;
}

.presto-sale-combo-card__title {
    font-size: 16px;
    color: #2b2424;
}

.presto-sale-combo-card__price {
    font-size: 16px;
    color: #2b2424;
}

.presto-sale-list {

}

.presto-sale-list__item {
    margin-bottom: 8px;
    a {
        font-size: 16px;
        color: #2b2424;
        text-decoration: none;
        font-weight: 500;
    }
}

/*---------------------------*/
/*---------------------------*/
/*---------------------------*/

.presto-delivery {
    color: #171716;
    font-family: 'MuseoSans', sans-serif;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #d9f6e2;
    height: 100%;
}

.presto-delivery__title {
    font-size: 29px;
    color: #2b2424;
    font-weight: 700;
    margin-bottom: 10px;
}

.presto-delivery__body {

}

.presto-delivery__desc {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 8px;

    a {
        color: #dd9626;
    }
}

.presto-delivery__grid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.presto-delivery__col {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.presto-delivery-card {

}

.presto-delivery-card__num {
    font-size: 29px;
    color: #171716;
    line-height: 1;

    span {
        font-size: 68px;
    }
}

.presto-delivery-card__info {
    font-size: 16px;
}

/*---------------------------*/
/*---------------------------*/
/*---------------------------*/
.presto-footer {
    //height: 234px;
    background-color: #fff;

    font-family: 'MuseoSans', sans-serif;
}

.presto-footer .layout {
    padding: 30px 0;
}

.presto-footer__body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    color: #272626;
    margin-bottom: 26px;
}

.presto-footer__info {
    //width: 40%;
    width: 27%;
}

.presto-footer-phone {

}

.presto-footer-phone__title {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 4px;
}

.presto-footer-phone__num a {
    display: inline-block;
    color: #272626;
    text-decoration: none;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 4px;
    font-family: 'MuseoSans', sans-serif;
}

.presto-footer-phone__work {
    font-size: 16px;
    line-height: 1;
}

.presto-footer-menu {
    width: 45%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;

}

.presto-footer-menu__list {
    //width: 33%;
    margin-right: 40px;
}

.presto-footer-menu__item {
    display: block;
}

.presto-footer-menu__item a {
    font-family: 'MuseoSans', sans-serif;
    display: inline-block;
    color: #272626;
    padding: 5px 0;
    transition:all .2s ease-in-out;

    text-decoration: none;

    &:hover {
        color: #ff2a2a;
        transition:all .2s ease-in-out;
    }
}

.presto-footer__other {
    width: 28%;
}

.presto-footer-social {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.presto-footer-social__item {
    margin-right: 17px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    &:last-child {
        margin-right: 0;
    }

    &:hover a {
        color: #ff2a2a;
        text-decoration: none;
        transition:all .2s ease-in-out;
    }

    &:hover svg {
        fill: #ff2a2a;
        transition:all .2s ease-in-out;
    }
}

.presto-footer-social__item a {
    color: #383838;
    transition:all .2s ease-in-out;

}


.presto-footer-social__item svg {
    margin-right: 5px;
    transition:all .2s ease-in-out;
}


.presto-footer__footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;

}

.presto-footer__copyright {
    width: 27%;
}
.presto-footer__copyright span {
    display: block;
    font-size: 12px;
}

.presto-footer__footer .presto-footer-menu__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.presto-footer__footer .presto-footer-menu__item {
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}


.presto-footer__ref {
    color: #afadad;
    font-size: 11px;
    width: 28%;
}

/*-----------------------------*/
/*-----------------------------*/
/*-----------------------------*/
/*-----------------------------*/
/*-----------------------------*/

//media
@media (max-width:1360px){
    .presto-header-layout {
        padding: 0 36px;
    }

    .sticky.presto-header-sticky .layout {
        width: 100%;
    }

    .presto-header-sticky.sticky {
        padding: 0 14px;

    }
}
@media (max-width:1240px){
    .presto-header-layout {
        padding: 0 14px;
    }

    .home-section {
        margin: 0 14px 20px;
    }

    .presto-header-sticky {
        padding: 0 14px;
    }

    .presto-advantages-card {
        padding: 24px 26px;
    }

    .presto-advantages__list {
        margin-left: -4px;
        margin-right: -4px;
    }

    .presto-advantages__item {
        padding: 4px
    }

    .presto-advantages-card__title {
        font-size: 18px;
    }
}

@media (max-width:1000px){
    .presto-footer__footer {
        justify-content: flex-start;
        flex-flow: row wrap;
    }

    .presto-footer__ref {
        flex: 0 1 100%;
        margin-top: 7px;
    }

    .app-download__item {
        margin-right: 5px;
    }
}

@media (max-width:900px){
    .menu {
        margin: 0 0 20px;
    }
}

@media (max-width:980px){
    .presto-info > .c-grid {
        display: block;
    }
    .presto-info .c-col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .presto-advantages-card {
        padding: 18px 20px;
    }

    .presto-header .presto-header-delivery,
    .presto-header .presto-header-menu {
        display: none;
    }

    .presto-header {
        padding: 6px 0 5px;
    }
    .presto-header-sticky {
        display: none !important;
    }

    .logo-presto {
        font-size: 80px;
    }

    .presto-header-logo {
        width: auto;
    }

    .sticky.presto-header-sticky {
        padding: 14px 0 8px;
    }

    .presto-header-line {
        margin-bottom: 0;
    }

    .presto-header-hamburger {
        display: block;
    }

    .presto-header-layout {
        padding: 0 14px 0 0;
    }

    .presto-header-hamburger__link {
        padding: 21px 0 21px 44px;
    }

    .presto-header-logo {
        margin-right: 14px;
        margin-left: -4px;
    }

    .app,
    .presto-about {
        padding: 28px 30px 30px;
    }

    .app-phone {
        right: 3%;
    }

    .app-body {
        max-width: 55%;
    }

    .app-download {
        justify-content: flex-start;
    }

}
@media (max-width:960px){

    .presto-footer__footer {
        //justify-content: center;
        width: auto;
    }

    .presto-footer-social {
        margin: 0 20px 0 0;
    }

    .presto-footer__body {
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .presto-footer__copyright,
    .presto-footer__info {
        width: 33%;
    }

    .presto-footer__other {
        flex: 0 1 100%;
        display: flex;
        justify-content: flex-start;
        padding-left: 33%;
    }

    .presto-footer__ref {
        text-align: center;
    }

    .presto-footer-menu {
        width: auto;
        margin-bottom: 14px;
    }

    .presto-footer .home-section {
        margin: 0 14px 0;
    }

    .presto-footer-menu__item a {
        white-space: nowrap;
    }



}
@media (max-width:880px){

    .app-title span {
        display: inline;
    }

}
@media (max-width:800px){
    .menu {
        flex-flow: row wrap;
        justify-content: center;
        padding: 15px 10px 20px;
    }
    .menu .menu-item {
        padding: 10px;
        //margin-bottom: 10px;
        //border: 1px solid #eee;
        width: 20%;
    }
}

@media (max-width:790px){
    .presto-footer__body {
        display: block;
        margin-bottom: 14px;
    }

    .presto-footer__info {
        margin-bottom: 14px;
    }

    .presto-footer__copyright,
    .presto-footer__info {
        width: 100%;
    }




    .presto-footer__info {
        text-align: center;
    }

    .presto-footer-menu {
        display: block;
        text-align: center;
    }

    .presto-footer-menu__list {
        margin-right: 0;
        display: inline-block;
    }

    .presto-footer-menu__item {
        display: inline-block;
    }

    .presto-footer-menu__item a {
        padding: 4px 10px;
    }

    .presto-footer__other {
        padding: 0;
        text-align: center;
        flex-flow: column wrap;
        justify-content: center;
        width: 100%;
    }

    .presto-footer-social {
        text-align: center;
        justify-content: center;
        margin: 0;
        margin-bottom: 8px;
    }

    .presto-footer-social__item {
        padding: 0 8px;
        margin: 0 0 8px 0;
    }

    .presto-footer .app-download {
        justify-content: center;
    }

    .presto-footer__copyright {
        text-align: center;
        margin-bottom: 6px;
    }

    .presto-footer__copyright span {
        display: inline-block;
    }

    .presto-footer-menu {
        width: 100%;
        text-align: center;
    }

    .presto-footer__footer .presto-footer-menu {
        margin-bottom: 0;
    }

    .presto-footer__footer .presto-footer-menu__list {
        flex-flow: row wrap;
        justify-content: center;
    }
}

@media (max-width:780px){
    .presto-advantages__list {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    .presto-advantages__item {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }

    .presto-advantages-card__title {
        margin-bottom: 7px;
    }
}

@media (max-width:730px){
    .home-section {
        margin: 0 0 20px;
        border-radius: 0;
    }

    .menu {
        margin: 0;
    }

    .presto-info .c-grid {
        margin: 0;
    }

    .presto-info .c-col {
        padding: 0;
    }

    .presto-delivery,
    .presto-sale {
        padding: 20px 16px;
    }

    .app {
        padding: 38px 16px 50px;
    }

    .presto-advantages {
        padding: 0 16px;
    }

    .presto-about {
        padding: 20px 16px 20px;
    }


    .presto-delivery-card__num span {
        font-size: 42px;
    }
    
    .app {
        overflow: hidden;
    }

    .app-phone__icon {
        right: auto;
        top: 59%;
        left: -30px;
    }

    .app-phone {
        right: -12%;
        bottom: -10px;
    }

    .app-body {
        max-width: 64%;
    }

    .presto-about__title, .presto-advantages__title, .app-title, .presto-delivery__title, .presto-sale__title {
        font-size: 25px;
    }
}

@media (max-width:600px){
    .menu .menu-item {
        padding: 10px;
        //margin-bottom: 10px;
        //border: 1px solid #eee;
        width: 120px;
    }

    .presto-footer .layout {
        padding: 20px 0;
    }

    .app-phone {
        right: -18%;
    }
}

@media (max-width:530px){
    .app {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
    }

    .app-phone {
        order: 1;
        position: relative;
        bottom: auto;
        right: auto;
        border-bottom: 1px solid #ccc;
        width: 100%;
        text-align: center;
        margin-bottom: 14px;
        overflow: hidden;
    }

    .app-body {
        order: 2;
        max-width: 100%;
        text-align: center;
        padding: 0 14px;
    }

    .app-download {
        justify-content: center;
    }

    .app-phone img {
        display: inline-block;
        position: relative;
        bottom: -4px;
        left:13px;
    }

    .app-phone__icon {
        left: auto;
        right: 50%;
        margin-right: -145px;
    }

    .app {
        padding: 16px 0 30px;
    }
}
@media (max-width:460px){
    .presto-sale-combo__list {
        display: block;
        margin-bottom: 10px;
    }

    .presto-sale-combo__item {
        width: 100%;
        margin-bottom: 0;
    }

    .presto-sale-combo-card__price,
    .presto-sale-combo-card__title {
        display: inline-block;

    }


    .presto-about__title,
    .presto-advantages__title,
    .app-title,
    .presto-delivery__title,
    .presto-sale__title {
        font-size: 24px;
    }


    .presto-advantages-card {
        padding: 18px 16px;
    }

    .presto-about__img {
        display: none;
    }
}


@media (max-width:450px){
    .presto-header-auth {
        display: none;
    }

    .presto-header-logo {
        margin-right: 8px;
        margin-left: -6px;
    }

    .city-toggle {
        margin-right: 0;
        padding: 6px 12px;
    }
}

@media (max-width:420px){
    .menu .menu-item {
        width: 33%;
    }

    .menu-item__text {
        font-size: 15px;
    }
}